{
  "openapi": "3.0.0",
  "info": {
    "title": "CoinGecko Demo API",
    "version": "3.0.0"
  },
  "servers": [
    {
      "url": "https://api.coingecko.com/api/v3"
    }
  ],
  "security": [
    {
      "headerAuth": []
    },
    {
      "queryAuth": []
    }
  ],
  "paths": {
    "/ping": {
      "get": {
        "summary": "API Server Status",
        "description": "To check the API server status",
        "operationId": "ping-server",
        "x-mint": {
          "href": "/reference/ping-server"
        },
        "responses": {
          "200": {
            "description": "Server status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PingServer"
                },
                "example": {
                  "gecko_says": "(V3) To the Moon!"
                }
              }
            }
          }
        }
      }
    },
    "/simple/price": {
      "get": {
        "summary": "Coin Price by IDs, Symbols, or Names",
        "description": "To query the prices of one or more coins by using their unique Coin API IDs, symbols, or names",
        "operationId": "simple-price",
        "x-mint": {
          "href": "/reference/simple-price"
        },
        "parameters": [
          {
            "name": "vs_currencies",
            "in": "query",
            "required": true,
            "description": "Target currency of coins, comma-separated if querying more than 1 currency. \n*refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)",
            "schema": {
              "type": "string",
              "default": "usd"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Coins' IDs, comma-separated if querying more than 1 coin. \n*refers to [`/coins/list`](/reference/coins-list)",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          },
          {
            "name": "names",
            "in": "query",
            "required": false,
            "description": "Coins' names, comma-separated if querying more than 1 coin.",
            "schema": {
              "type": "string",
              "default": "Bitcoin"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Coins' symbols, comma-separated if querying more than 1 coin.",
            "schema": {
              "type": "string",
              "default": "btc"
            }
          },
          {
            "name": "include_tokens",
            "in": "query",
            "required": false,
            "description": "For `symbols` lookups, specify `all` to include all matching tokens. \nDefault `top` returns top-ranked tokens by market cap or volume.",
            "schema": {
              "type": "string",
              "enum": ["top", "all"]
            }
          },
          {
            "name": "include_market_cap",
            "in": "query",
            "required": false,
            "description": "Include market capitalization. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_vol",
            "in": "query",
            "required": false,
            "description": "Include 24-hour trading volume. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_change",
            "in": "query",
            "required": false,
            "description": "Include 24-hour change percentage. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_last_updated_at",
            "in": "query",
            "required": false,
            "description": "Include last updated price time as a UNIX timestamp. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "required": false,
            "description": "Decimal places for currency price value",
            "schema": {
              "type": "string",
              "enum": ["full", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePrice"
                },
                "example": {
                  "bitcoin": {
                    "usd": 76975,
                    "usd_market_cap": 1542226908349.8406,
                    "usd_24h_vol": 29096603418.89408,
                    "usd_24h_change": -1.4093297098441402,
                    "last_updated_at": 1779092258
                  }
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "summary": "Search Queries",
        "description": "To search for coins, categories and markets listed on CoinGecko",
        "operationId": "search-data",
        "x-mint": {
          "href": "/reference/search-data"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "description": "Search query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Search"
                },
                "example": {
                  "coins": [
                    {
                      "id": "ethereum",
                      "name": "Ethereum",
                      "api_symbol": "ethereum",
                      "symbol": "ETH",
                      "market_cap_rank": 2,
                      "thumb": "https://coin-images.coingecko.com/coins/images/279/thumb/ethereum.png",
                      "large": "https://coin-images.coingecko.com/coins/images/279/large/ethereum.png"
                    }
                  ],
                  "exchanges": [
                    {
                      "id": "uniswap_v3",
                      "name": "Uniswap V3 (Ethereum)",
                      "market_type": "spot",
                      "thumb": "https://coin-images.coingecko.com/markets/images/665/thumb/uniswap-v3.png",
                      "large": "https://coin-images.coingecko.com/markets/images/665/large/uniswap-v3.png"
                    }
                  ],
                  "icos": [],
                  "categories": [
                    {
                      "id": "ethereum-pos-iou",
                      "name": "Ethereum PoS IOU"
                    }
                  ],
                  "nfts": [
                    {
                      "id": "ens-ethereum-name-service",
                      "name": "ENS: Ethereum Name Service",
                      "symbol": "ENS",
                      "thumb": "https://coin-images.coingecko.com/nft_contracts/images/373/thumb/ens-ethereum-name-service.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/simple/supported_vs_currencies": {
      "get": {
        "summary": "Currencies List",
        "description": "To query all the supported currencies on CoinGecko",
        "operationId": "simple-supported-currencies",
        "x-mint": {
          "href": "/reference/simple-supported-currencies"
        },
        "responses": {
          "200": {
            "description": "List of supported currencies",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportedCurrencies"
                },
                "example": [
                  "btc",
                  "eth",
                  "ltc",
                  "bch",
                  "bnb",
                  "eos",
                  "xrp",
                  "xlm",
                  "link",
                  "dot",
                  "yfi",
                  "sol",
                  "usd",
                  "aed",
                  "ars",
                  "aud",
                  "bdt",
                  "bhd",
                  "bmd",
                  "brl",
                  "cad",
                  "chf",
                  "clp",
                  "cny",
                  "czk",
                  "dkk",
                  "eur",
                  "gbp",
                  "gel",
                  "hkd",
                  "huf",
                  "idr",
                  "ils",
                  "inr",
                  "jpy",
                  "krw",
                  "kwd",
                  "lkr",
                  "mmk",
                  "mxn",
                  "myr",
                  "ngn",
                  "nok",
                  "nzd",
                  "php",
                  "pkr",
                  "pln",
                  "rub",
                  "sar",
                  "sek",
                  "sgd",
                  "thb",
                  "try",
                  "twd",
                  "uah",
                  "vef",
                  "vnd",
                  "zar",
                  "xdr",
                  "xag",
                  "xau",
                  "bits",
                  "sats"
                ]
              }
            }
          }
        }
      }
    },
    "/simple/token_price/{id}": {
      "get": {
        "summary": "Coin Price by Token Addresses",
        "description": "To query one or more token prices by using their token contract addresses",
        "operationId": "simple-token-price",
        "x-mint": {
          "href": "/reference/simple-token-price"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Asset platform's ID. \n*refers to [`/asset_platforms`](/reference/asset-platforms-list)",
            "schema": {
              "type": "string",
              "default": "ethereum"
            }
          },
          {
            "name": "contract_addresses",
            "in": "query",
            "required": true,
            "description": "Token contract addresses, comma-separated if querying more than 1 token",
            "schema": {
              "type": "string",
              "default": "0x2260fac5e5542a773aa44fbcfedf7c193bc2c599"
            }
          },
          {
            "name": "vs_currencies",
            "in": "query",
            "required": true,
            "description": "Target currency of coins, comma-separated if querying more than 1 currency. \n*refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)",
            "schema": {
              "type": "string",
              "default": "usd"
            }
          },
          {
            "name": "include_market_cap",
            "in": "query",
            "required": false,
            "description": "Include market capitalization. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_vol",
            "in": "query",
            "required": false,
            "description": "Include 24-hour trading volume. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_24hr_change",
            "in": "query",
            "required": false,
            "description": "Include 24-hour change percentage. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_last_updated_at",
            "in": "query",
            "required": false,
            "description": "Include last updated price time as a UNIX timestamp. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "required": false,
            "description": "Decimal places for currency price value",
            "schema": {
              "type": "string",
              "enum": ["full", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token prices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimplePrice"
                },
                "example": {
                  "0x2260fac5e5542a773aa44fbcfedf7c193bc2c599": {
                    "usd": 76721,
                    "usd_market_cap": 9008047197.715635,
                    "usd_24h_vol": 181232010.10689816,
                    "usd_24h_change": -1.6069562341774564,
                    "last_updated_at": 1779094527
                  }
                }
              }
            }
          }
        }
      }
    },
    "/coins/list": {
      "get": {
        "summary": "Coins List",
        "description": "To query all the supported coins on CoinGecko with coin ID, name and symbol",
        "operationId": "coins-list",
        "x-mint": {
          "href": "/reference/coins-list"
        },
        "parameters": [
          {
            "name": "include_platform",
            "in": "query",
            "required": false,
            "description": "Include platform and token's contract addresses. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status of coins. \nDefault: active",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of coins",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsList"
                },
                "example": [
                  {
                    "id": "official-trump",
                    "symbol": "trump",
                    "name": "Official Trump",
                    "platforms": {
                      "solana": "6p6xgHyF7AeE6TZkSmFsko444wqoP15icUSqi2jfGiPN"
                    }
                  },
                  {
                    "id": "ondo-finance",
                    "symbol": "ondo",
                    "name": "Ondo",
                    "platforms": {
                      "ethereum": "0xfaba6f8e4a5e8ab82f62fe7c39859fa577269be3"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/coins/{id}": {
      "get": {
        "summary": "Coin Data by ID",
        "description": "To query all the metadata (image, websites, socials, description, contract address, etc.) and market data (price, ATH, exchange tickers, etc.) of a coin based on a particular coin ID",
        "operationId": "coins-id",
        "x-mint": {
          "href": "/reference/coins-id"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Coin ID. \n*refers to [`/coins/list`](/reference/coins-list)",
            "schema": {
              "type": "string",
              "example": "bitcoin",
              "default": "bitcoin"
            }
          },
          {
            "name": "localization",
            "in": "query",
            "required": false,
            "description": "Include all localized languages in the response. \nDefault: true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "tickers",
            "in": "query",
            "required": false,
            "description": "Include tickers data. \nDefault: true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "market_data",
            "in": "query",
            "required": false,
            "description": "Include market data. \nDefault: true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "community_data",
            "in": "query",
            "required": false,
            "description": "Include community data. \nDefault: true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "developer_data",
            "in": "query",
            "required": false,
            "description": "Include developer data. \nDefault: true",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "sparkline",
            "in": "query",
            "required": false,
            "description": "Include sparkline 7-day data. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_categories_details",
            "in": "query",
            "required": false,
            "description": "Include categories details. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dex_pair_format",
            "in": "query",
            "required": false,
            "description": "Set to `symbol` to display DEX pair base and target as symbols. \nDefault: `contract_address`",
            "schema": {
              "type": "string",
              "enum": ["contract_address", "symbol"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsID"
                },
                "example": {
                  "id": "bitcoin",
                  "symbol": "btc",
                  "name": "Bitcoin",
                  "web_slug": "bitcoin",
                  "asset_platform_id": null,
                  "platforms": {
                    "": ""
                  },
                  "detail_platforms": {
                    "": {
                      "decimal_place": null,
                      "contract_address": ""
                    }
                  },
                  "block_time_in_minutes": 10,
                  "hashing_algorithm": "SHA-256",
                  "categories": ["Cryptocurrency", "Layer 1 (L1)"],
                  "preview_listing": false,
                  "public_notice": null,
                  "additional_notices": [],
                  "has_supply_breakdown": false,
                  "description": {
                    "en": "Bitcoin is the first successful internet money based on peer-to-peer technology..."
                  },
                  "links": {
                    "homepage": ["http://www.bitcoin.org", "", ""],
                    "whitepaper": "https://bitcoin.org/bitcoin.pdf",
                    "blockchain_site": ["https://mempool.space/", "https://blockchair.com/bitcoin/"],
                    "official_forum_url": ["https://bitcointalk.org/"],
                    "chat_url": [""],
                    "announcement_url": ["", ""],
                    "snapshot_url": null,
                    "twitter_screen_name": "bitcoin",
                    "facebook_username": "bitcoins",
                    "bitcointalk_thread_identifier": null,
                    "telegram_channel_identifier": "",
                    "subreddit_url": "https://www.reddit.com/r/Bitcoin/",
                    "repos_url": {
                      "github": ["https://github.com/bitcoin/bitcoin", "https://github.com/bitcoin/bips"],
                      "bitbucket": []
                    }
                  },
                  "image": {
                    "thumb": "https://assets.coingecko.com/coins/images/1/thumb/bitcoin.png?1696501400",
                    "small": "https://assets.coingecko.com/coins/images/1/small/bitcoin.png?1696501400",
                    "large": "https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1696501400"
                  },
                  "country_origin": "",
                  "genesis_date": "2009-01-03",
                  "sentiment_votes_up_percentage": 84.07,
                  "sentiment_votes_down_percentage": 15.93,
                  "watchlist_portfolio_users": 1541900,
                  "market_cap_rank": 1,
                  "market_cap_rank_with_rehypothecated": 1,
                  "status_updates": [],
                  "last_updated": "2024-04-07T15:24:51.021Z",
                  "market_data": {
                    "current_price": {
                      "btc": 1,
                      "eur": 64375,
                      "usd": 69840
                    },
                    "total_value_locked": null,
                    "mcap_to_tvl_ratio": null,
                    "fdv_to_tvl_ratio": null,
                    "roi": null,
                    "ath": {
                      "btc": 1.003301,
                      "eur": 67405,
                      "usd": 73738
                    },
                    "ath_change_percentage": {
                      "btc": -0.32896,
                      "eur": -4.54383,
                      "usd": -5.33399
                    },
                    "ath_date": {
                      "btc": "2024-03-02T16:05:19.446Z",
                      "eur": "2024-03-14T07:10:36.635Z",
                      "usd": "2024-03-14T07:10:36.635Z"
                    },
                    "atl": {
                      "btc": 0.99895134,
                      "eur": 51.3,
                      "usd": 67.81
                    },
                    "atl_change_percentage": {
                      "btc": 0.10408,
                      "eur": 125385.41242,
                      "usd": 102882.36498
                    },
                    "atl_date": {
                      "btc": "2019-10-21T00:00:00.000Z",
                      "eur": "2013-07-05T00:00:00.000Z",
                      "usd": "2013-07-06T00:00:00.000Z"
                    },
                    "market_cap": {
                      "btc": 19675377,
                      "eur": 1265825267281,
                      "usd": 1373296629498
                    },
                    "fully_diluted_valuation": {
                      "btc": 21000000,
                      "eur": 1351831155,
                      "usd": 1466577759
                    },
                    "market_cap_fdv_ratio": 1,
                    "market_cap_rank": 1,
                    "outstanding_token_value_usd": null,
                    "market_cap_rank_with_rehypothecated": 1,
                    "total_volume": {
                      "btc": 270165,
                      "eur": 17368113665,
                      "usd": 18867210007
                    },
                    "high_24h": {
                      "btc": 1,
                      "eur": 64343,
                      "usd": 69805
                    },
                    "low_24h": {
                      "btc": 1,
                      "eur": 62695,
                      "usd": 67985
                    },
                    "price_change_24h": 1619,
                    "price_change_percentage_24h": 2.37311,
                    "price_change_percentage_7d": -0.89706,
                    "price_change_percentage_14d": 6.36178,
                    "price_change_percentage_30d": 1.81171,
                    "price_change_percentage_60d": 62.54292,
                    "price_change_percentage_200d": 157.51875,
                    "price_change_percentage_1y": 149.76989,
                    "market_cap_change_24h": 31172487848,
                    "market_cap_change_percentage_24h": 2.32219,
                    "price_change_24h_in_currency": {
                      "btc": 0,
                      "eur": 1461.64,
                      "usd": 1618.95
                    },
                    "price_change_percentage_1h_in_currency": {
                      "btc": 0,
                      "eur": 0.79523,
                      "usd": 0.79523
                    },
                    "price_change_percentage_24h_in_currency": {
                      "btc": 0,
                      "eur": 2.32219,
                      "usd": 2.37311
                    },
                    "price_change_percentage_7d_in_currency": {
                      "btc": 0,
                      "eur": -1.01955,
                      "usd": -0.89706
                    },
                    "price_change_percentage_14d_in_currency": {
                      "btc": 0,
                      "eur": 5.84662,
                      "usd": 6.36178
                    },
                    "price_change_percentage_30d_in_currency": {
                      "btc": 0,
                      "eur": 2.28048,
                      "usd": 1.81171
                    },
                    "price_change_percentage_60d_in_currency": {
                      "btc": 0,
                      "eur": 60.98834,
                      "usd": 62.54292
                    },
                    "price_change_percentage_200d_in_currency": {
                      "btc": 0,
                      "eur": 148.68948,
                      "usd": 157.51875
                    },
                    "price_change_percentage_1y_in_currency": {
                      "btc": 0,
                      "eur": 138.20277,
                      "usd": 149.76989
                    },
                    "market_cap_change_24h_in_currency": {
                      "btc": -49432,
                      "eur": 28668703539,
                      "usd": 31172487848
                    },
                    "market_cap_change_percentage_24h_in_currency": {
                      "btc": -0.25084,
                      "eur": 2.31801,
                      "usd": 2.32219
                    },
                    "total_supply": 21000000,
                    "max_supply": 21000000,
                    "max_supply_infinite": false,
                    "circulating_supply": 19675377,
                    "outstanding_supply": null,
                    "last_updated": "2024-04-07T15:24:51.021Z"
                  },
                  "community_data": {
                    "facebook_likes": null,
                    "reddit_average_posts_48h": 7.333,
                    "reddit_average_comments_48h": 384.667,
                    "reddit_subscribers": 6127543,
                    "reddit_accounts_active_48h": 3498,
                    "telegram_channel_user_count": null
                  },
                  "developer_data": {
                    "forks": 36433,
                    "stars": 76697,
                    "subscribers": 3967,
                    "total_issues": 7743,
                    "closed_issues": 7379,
                    "pull_requests_merged": 11204,
                    "pull_request_contributors": 829,
                    "code_additions_deletions_4_weeks": {
                      "additions": 1264,
                      "deletions": -1314
                    },
                    "commit_count_4_weeks": 108,
                    "last_4_weeks_commit_activity_series": [0, 3, 2, 0, 1, 0, 0]
                  },
                  "tickers": [
                    {
                      "base": "BTC",
                      "target": "USDT",
                      "market": {
                        "name": "Binance",
                        "identifier": "binance",
                        "has_trading_incentive": false
                      },
                      "last": 69816,
                      "volume": 19988.82111,
                      "converted_last": {
                        "btc": 0.99999255,
                        "eth": 20.441016,
                        "usd": 69835
                      },
                      "converted_volume": {
                        "btc": 19783,
                        "eth": 404380,
                        "usd": 1381537193
                      },
                      "trust_score": null,
                      "bid_ask_spread_percentage": 0.010014,
                      "timestamp": "2024-04-07T15:23:02+00:00",
                      "last_traded_at": "2024-04-07T15:23:02+00:00",
                      "last_fetch_at": "2024-04-07T15:24:00+00:00",
                      "is_anomaly": false,
                      "is_stale": false,
                      "trade_url": "https://www.binance.com/en/trade/BTC_USDT?ref=37754157",
                      "token_info_url": null,
                      "coin_id": "bitcoin",
                      "target_coin_id": "tether",
                      "coin_mcap_usd": 230926944910.5146
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/coins/markets": {
      "get": {
        "summary": "Coins List with Market Data",
        "description": "To query all the supported coins with price, market cap, volume and market related data",
        "operationId": "coins-markets",
        "x-mint": {
          "href": "/reference/coins-markets"
        },
        "parameters": [
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "Target currency of coins and market data. \n*refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies)",
            "schema": {
              "type": "string",
              "default": "usd"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "description": "Coins' IDs, comma-separated if querying more than 1 coin. \n*refers to [`/coins/list`](/reference/coins-list)",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          },
          {
            "name": "names",
            "in": "query",
            "required": false,
            "description": "Coins' names, comma-separated if querying more than 1 coin.",
            "schema": {
              "type": "string",
              "default": "Bitcoin"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "required": false,
            "description": "Coins' symbols, comma-separated if querying more than 1 coin.",
            "schema": {
              "type": "string",
              "default": "btc"
            }
          },
          {
            "name": "include_tokens",
            "in": "query",
            "required": false,
            "description": "For `symbols` lookups, specify `all` to include all matching tokens. \nDefault `top` returns top-ranked tokens by market cap or volume.",
            "schema": {
              "type": "string",
              "enum": ["top", "all"]
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter based on coins' category. \n*refers to [`/coins/categories/list`](/reference/coins-categories-list)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort result by field. \nDefault: market_cap_desc",
            "schema": {
              "type": "string",
              "enum": ["market_cap_asc", "market_cap_desc", "volume_asc", "volume_desc", "id_asc", "id_desc"]
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Total results per page. \nDefault: 100 \nValid values: 1...250",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page through results. \nDefault: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sparkline",
            "in": "query",
            "required": false,
            "description": "Include sparkline 7-day data. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "price_change_percentage",
            "in": "query",
            "required": false,
            "description": "Include price change percentage timeframe, comma-separated if querying more than 1 timeframe. \nValid values: `1h`, `24h`, `7d`, `14d`, `30d`, `200d`, `1y`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "description": "Language background. \nDefault: en",
            "schema": {
              "type": "string",
              "enum": [
                "ar",
                "bg",
                "cs",
                "da",
                "de",
                "el",
                "en",
                "es",
                "fi",
                "fr",
                "he",
                "hi",
                "hr",
                "hu",
                "id",
                "it",
                "ja",
                "ko",
                "lt",
                "nl",
                "no",
                "pl",
                "pt",
                "ro",
                "ru",
                "sk",
                "sl",
                "sv",
                "th",
                "tr",
                "uk",
                "vi",
                "zh",
                "zh-tw"
              ]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "required": false,
            "description": "Decimal places for currency price value",
            "schema": {
              "type": "string",
              "enum": ["full", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18"]
            }
          },
          {
            "name": "include_rehypothecated",
            "in": "query",
            "required": false,
            "description": "Include rehypothecated tokens in results. When true, returns `market_cap_rank_with_rehypothecated` field. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of coins with market data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarkets"
                },
                "example": [
                  {
                    "id": "bitcoin",
                    "symbol": "btc",
                    "name": "Bitcoin",
                    "image": "https://coin-images.coingecko.com/coins/images/1/large/bitcoin.png?1696501400",
                    "current_price": 77671,
                    "market_cap": 1555886872303,
                    "market_cap_rank": 1,
                    "fully_diluted_valuation": 1555914058873,
                    "total_volume": 33235034316,
                    "high_24h": 78419,
                    "low_24h": 76696,
                    "price_change_24h": -747.3360347281705,
                    "price_change_percentage_24h": -0.95302,
                    "market_cap_change_24h": -15184401491.513184,
                    "market_cap_change_percentage_24h": -0.9665,
                    "circulating_supply": 20030493.0,
                    "total_supply": 20030843.0,
                    "max_supply": 21000000.0,
                    "ath": 126080,
                    "ath_change_percentage": -38.39571,
                    "ath_date": "2025-10-06T18:57:42.558Z",
                    "atl": 67.81,
                    "atl_change_percentage": 114443.23093,
                    "atl_date": "2013-07-06T00:00:00.000Z",
                    "roi": null,
                    "last_updated": "2026-05-18T12:49:21.599Z",
                    "market_cap_rank_with_rehypothecated": 1,
                    "sparkline_in_7d": {
                      "price": [81045.84776489827, 81001.73089268175, 80898.20817826076]
                    },
                    "price_change_percentage_1h_in_currency": 0.5823392426906319,
                    "price_change_percentage_24h_in_currency": -0.9530164743774191,
                    "price_change_percentage_7d_in_currency": -4.042267423689584,
                    "price_change_percentage_14d_in_currency": -1.5720857443461431,
                    "price_change_percentage_30d_in_currency": 1.9453890367549207,
                    "price_change_percentage_200d_in_currency": -29.452371850925864,
                    "price_change_percentage_1y_in_currency": -25.214612207475373
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/coins/{id}/tickers": {
      "get": {
        "summary": "Coin Tickers by ID",
        "description": "To query the coin tickers on both centralized exchange (CEX) and decentralized exchange (DEX) based on a particular coin ID",
        "operationId": "coins-id-tickers",
        "x-mint": {
          "href": "/reference/coins-id-tickers"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Coin ID. \n*refers to [`/coins/list`](/reference/coins-list)",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          },
          {
            "name": "exchange_ids",
            "in": "query",
            "required": false,
            "description": "Exchange ID. \n*refers to [`/exchanges/list`](/reference/exchanges-list)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_exchange_logo",
            "in": "query",
            "required": false,
            "description": "Include exchange logo. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page through results",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort the order of responses. \nDefault: trust_score_desc",
            "schema": {
              "type": "string",
              "enum": ["trust_score_desc", "trust_score_asc", "volume_desc", "volume_asc"]
            }
          },
          {
            "name": "depth",
            "in": "query",
            "required": false,
            "description": "Include 2% orderbook depth, i.e. `cost_to_move_up_usd` and `cost_to_move_down_usd`. \nDefault: false",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "dex_pair_format",
            "in": "query",
            "required": false,
            "description": "Set to `symbol` to display DEX pair base and target as symbols. \nDefault: `contract_address`",
            "schema": {
              "type": "string",
              "enum": ["contract_address", "symbol"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin tickers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsIdTickers"
                },
                "example": {
                  "name": "Bitcoin",
                  "tickers": [
                    {
                      "base": "BTC",
                      "target": "USDT",
                      "market": {
                        "name": "Binance",
                        "identifier": "binance",
                        "has_trading_incentive": false,
                        "logo": "https://coin-images.coingecko.com/markets/images/52/small/binance.jpg?1706864274"
                      },
                      "last": 76894.07,
                      "volume": 13786.06991,
                      "cost_to_move_up_usd": 19320706.3958517,
                      "cost_to_move_down_usd": 16360235.3694131,
                      "converted_last": {
                        "btc": 0.99664066,
                        "eth": 36.004874,
                        "usd": 76856
                      },
                      "converted_volume": {
                        "btc": 13740,
                        "eth": 496366,
                        "usd": 1059536991
                      },
                      "trust_score": null,
                      "bid_ask_spread_percentage": 0.010013,
                      "timestamp": "2026-05-18T13:37:29+00:00",
                      "last_traded_at": "2026-05-18T13:37:29+00:00",
                      "last_fetch_at": "2026-05-18T13:37:29+00:00",
                      "is_anomaly": false,
                      "is_stale": false,
                      "trade_url": "https://www.binance.com/en/trade/BTC_USDT?ref=37754157",
                      "token_info_url": null,
                      "coin_id": "bitcoin",
                      "target_coin_id": "tether",
                      "coin_mcap_usd": 1544810408447.1313
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/history": {
      "get": {
        "summary": "Coin Historical Data by ID",
        "description": "To query the historical data (price, market cap, 24hrs volume, etc.) at a given date for a coin based on a particular coin ID",
        "operationId": "coins-id-history",
        "x-mint": {
          "href": "/reference/coins-id-history"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Coin ID. \n*refers to [`/coins/list`](/reference/coins-list).",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "The date of data snapshot. \nFormat: `dd-mm-yyyy`",
            "schema": {
              "type": "string",
              "default": "30-12-2025"
            }
          },
          {
            "name": "localization",
            "in": "query",
            "required": false,
            "description": "Include all the localized languages in response. \nDefault: true",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin historical data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsIdHistory"
                },
                "example": {
                  "id": "bitcoin",
                  "symbol": "btc",
                  "name": "Bitcoin",
                  "localization": {
                    "en": "Bitcoin",
                    "zh": "比特币",
                    "zh-tw": "比特幣",
                    "de": "Bitcoin",
                    "fr": "Bitcoin",
                    "es": "Bitcoin",
                    "ja": "ビットコイン",
                    "id": "Bitcoin",
                    "ru": "Биткоин",
                    "ko": "비트코인",
                    "ar": "بيتكوين",
                    "th": "บิตคอยน์",
                    "vi": "Bitcoin",
                    "it": "Bitcoin",
                    "pl": "Bitcoin",
                    "tr": "Bitcoin",
                    "hu": "Bitcoin",
                    "nl": "Bitcoin",
                    "ro": "Bitcoin",
                    "sv": "Bitcoin",
                    "cs": "Bitcoin",
                    "da": "Bitcoin",
                    "el": "Bitcoin",
                    "hi": "Bitcoin",
                    "no": "Bitcoin",
                    "sk": "Bitcoin",
                    "uk": "Bitcoin",
                    "he": "Bitcoin",
                    "fi": "Bitcoin",
                    "bg": "Bitcoin",
                    "hr": "Bitcoin",
                    "lt": "Bitcoin",
                    "sl": "Bitcoin",
                    "pt": "Bitcoin"
                  },
                  "image": {
                    "thumb": "https://coin-images.coingecko.com/coins/images/1/thumb/bitcoin.png?1696501400",
                    "small": "https://coin-images.coingecko.com/coins/images/1/small/bitcoin.png?1696501400"
                  },
                  "market_data": {
                    "current_price": {
                      "aed": 155021.01870663263,
                      "ars": 34223222.03038811,
                      "aud": 61961.64079464181,
                      "bch": 162.9444394169128,
                      "bdt": 4640974.295329716,
                      "bhd": 15935.706731619232,
                      "bmd": 42208.202176186474,
                      "bnb": 135.24654224991627,
                      "brl": 204813.86598107114,
                      "btc": 1.0,
                      "cad": 55925.65684243621,
                      "chf": 35496.88698916195,
                      "clp": 37196103.56833302,
                      "cny": 298785.10989287664,
                      "czk": 944615.3438828368,
                      "dkk": 285068.92147269147,
                      "dot": 5160.299955562896,
                      "eos": 50098.037591566885,
                      "eth": 18.514283305187227,
                      "eur": 38240.20908960317,
                      "gbp": 33156.484386694596,
                      "gel": 113329.02284306048,
                      "hkd": 329606.38328597124,
                      "huf": 14657368.01641012,
                      "idr": 649885162.0865278,
                      "ils": 152105.57155771676,
                      "inr": 3513053.119048727,
                      "jpy": 5952559.440604322,
                      "krw": 54661344.54593342,
                      "kwd": 12984.298194449415,
                      "lkr": 13696906.151726862,
                      "ltc": 579.0962960970021,
                      "mmk": 88806742.41781776,
                      "mxn": 716452.3647481233,
                      "myr": 194052.20950501712,
                      "ngn": 37886364.22413555,
                      "nok": 429442.7101393702,
                      "nzd": 66802.583918633,
                      "php": 2338503.1911612307,
                      "pkr": 11792242.372501094,
                      "pln": 165880.09171330827,
                      "rub": 3767047.138041446,
                      "sar": 158357.45046405343,
                      "sek": 425811.11642413173,
                      "sgd": 55694.77797653248,
                      "sol": 416.5289478886034,
                      "thb": 1453127.860988517,
                      "try": 1243001.417432343,
                      "twd": 1295461.9075007213,
                      "uah": 1607901.3285893872,
                      "usd": 42208.202176186474,
                      "vef": 4226.30728390156,
                      "vnd": 1024346748.4635574,
                      "xag": 1773.9385614394023,
                      "xau": 20.435523165622502,
                      "xdr": 31508.676173736272,
                      "xlm": 327801.5907899002,
                      "xrp": 68792.39040895543,
                      "yfi": 5.23330767599715,
                      "zar": 772207.5004537676,
                      "bits": 999797.6500840397,
                      "link": 2828.6459350540995,
                      "sats": 99979765.00840396
                    },
                    "market_cap": {
                      "aed": 3039570628249.035,
                      "ars": 671030943774608.1,
                      "aud": 1214911274669.9553,
                      "bch": 3192400331.4673758,
                      "bdt": 90997783863352.8,
                      "bhd": 312458958958.8847,
                      "bmd": 827596236151.1959,
                      "bnb": 2647323702.8955383,
                      "brl": 4015882597651.6562,
                      "btc": 19586150.0,
                      "cad": 1096560874919.1543,
                      "chf": 696004296621.9747,
                      "clp": 729321641896660.1,
                      "cny": 5858421340316.535,
                      "czk": 18521521005440.16,
                      "dkk": 5589481529435.656,
                      "dot": 101067225072.82333,
                      "eos": 981764701266.0074,
                      "eth": 362734483.2978319,
                      "eur": 749793913990.623,
                      "gbp": 650114912923.6271,
                      "gel": 2222095894065.9663,
                      "hkd": 6462748663878.865,
                      "huf": 287393965552690.7,
                      "idr": 12742606563251504,
                      "ils": 2982406073429.352,
                      "inr": 68882098474316.74,
                      "jpy": 116714655790049.02,
                      "krw": 1071770904156178.4,
                      "kwd": 254589292146.01266,
                      "lkr": 268561734299139.16,
                      "ltc": 11369266145.87004,
                      "mmk": 1741275912749029.8,
                      "mxn": 14047821273508.254,
                      "myr": 3804873695705.123,
                      "ngn": 742855909912170.9,
                      "nok": 8420286869134.373,
                      "nzd": 1309829942186.6091,
                      "php": 45852141040124.65,
                      "pkr": 231216088345279.94,
                      "pln": 3252489622308.595,
                      "rub": 73862279654407.0,
                      "sar": 3104989627928.0786,
                      "sek": 8349080488975.917,
                      "sgd": 1092033923507.4076,
                      "sol": 8167080608.685882,
                      "thb": 28493545024184.4,
                      "try": 24372118250940.145,
                      "twd": 25400735957660.043,
                      "uah": 31526883852775.1,
                      "usd": 827596236151.1959,
                      "vef": 82867211125.81927,
                      "vnd": 20084852465487144,
                      "xag": 34782454615.8709,
                      "xau": 400688993.6949639,
                      "xdr": 617805555864.2843,
                      "xlm": 6420377180809.443,
                      "xrp": 1347730925908.2449,
                      "yfi": 102656498.40039586,
                      "zar": 15141038659633.365,
                      "bits": 19587615789973.43,
                      "link": 55342736984.57576,
                      "sats": 1958761578997342.8
                    },
                    "total_volume": {
                      "aed": 52093574029.40443,
                      "ars": 11500440167656.37,
                      "aud": 20821714040.129295,
                      "bch": 54756176.21574547,
                      "bdt": 1559562309933.2505,
                      "bhd": 5355066850.034618,
                      "bmd": 14183728910.169804,
                      "bnb": 45448519.30208316,
                      "brl": 68826062289.8161,
                      "btc": 335974.0074837291,
                      "cad": 18793369887.330444,
                      "chf": 11928445094.808254,
                      "clp": 12499453241945.738,
                      "cny": 100404347558.46667,
                      "czk": 317430434636.70953,
                      "dkk": 95795132093.1731,
                      "dot": 1734077546.3343449,
                      "eos": 16835045026.655567,
                      "eth": 6221576.893294353,
                      "eur": 12850316555.324738,
                      "gbp": 11141971510.468252,
                      "gel": 38083312123.805855,
                      "hkd": 110761590083.25078,
                      "huf": 4925491344396.748,
                      "idr": 218388713248196.1,
                      "ils": 51113861322.39222,
                      "inr": 1180533415747.48,
                      "jpy": 2000310012607.8845,
                      "krw": 18368507847565.402,
                      "kwd": 4363269605.991003,
                      "lkr": 4602735813129.19,
                      "ltc": 194600680.75008962,
                      "mmk": 29842795828917.508,
                      "mxn": 240758089534.80554,
                      "myr": 65209693664.5056,
                      "ngn": 12731409817077.545,
                      "nok": 144310789586.34262,
                      "nzd": 22448474276.294495,
                      "php": 785835302355.318,
                      "pkr": 3962688776849.6025,
                      "pln": 55742678701.03927,
                      "rub": 1265886075288.8472,
                      "sar": 53214755248.56654,
                      "sek": 143090421550.91183,
                      "sgd": 18715784890.19182,
                      "sol": 139971223.0203305,
                      "thb": 488312000734.88245,
                      "try": 417700689222.06055,
                      "twd": 435329617517.0529,
                      "uah": 540322387194.22906,
                      "usd": 14183728910.169804,
                      "vef": 1420216775.7753053,
                      "vnd": 344223535737756.94,
                      "xag": 596117871.9180025,
                      "xau": 6867194.189147832,
                      "xdr": 10588238733.815224,
                      "xlm": 110155103993.25989,
                      "xrp": 23117132839.969418,
                      "yfi": 1758611.2071300931,
                      "zar": 259494157157.33887,
                      "bits": 335974007483.7291,
                      "link": 950543853.0214615,
                      "sats": 33597400748372.91
                    }
                  },
                  "community_data": {
                    "facebook_likes": null,
                    "reddit_average_posts_48h": 0.0,
                    "reddit_average_comments_48h": 0.0,
                    "reddit_subscribers": null,
                    "reddit_accounts_active_48h": 0.0
                  },
                  "developer_data": {
                    "forks": null,
                    "stars": null,
                    "subscribers": null,
                    "total_issues": null,
                    "closed_issues": null,
                    "pull_requests_merged": null,
                    "pull_request_contributors": null,
                    "code_additions_deletions_4_weeks": {
                      "additions": null,
                      "deletions": null
                    },
                    "commit_count_4_weeks": null
                  },
                  "public_interest_stats": {
                    "alexa_rank": null,
                    "bing_matches": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/market_chart": {
      "get": {
        "summary": "Coin Historical Chart Data by ID",
        "description": "To get the historical chart data of a coin including time in UNIX, price, market cap and 24hrs volume based on particular coin ID",
        "operationId": "coins-id-market-chart",
        "x-mint": {
          "href": "/reference/coins-id-market-chart"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Coin ID. \n*refers to [`/coins/list`](/reference/coins-list).",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "Target currency of market data. \n*refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "schema": {
              "type": "string",
              "default": "usd"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "description": "Data up to number of days ago. \nYou may use any integer or `max` for number of days.",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Data interval, leave empty for auto granularity.",
            "schema": {
              "type": "string",
              "enum": ["hourly", "daily"]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "required": false,
            "description": "Decimal place for currency price value.",
            "schema": {
              "type": "string",
              "enum": ["full", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin historical chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarketChart"
                },
                "example": {
                  "prices": [
                    [1779027899041, 77953.82550382407],
                    [1779028199661, 78052.87543398788]
                  ],
                  "market_caps": [
                    [1779027899041, 1560631481361.8042],
                    [1779028199661, 1562027330524.267]
                  ],
                  "total_volumes": [
                    [1779027899041, 18688431751.857048],
                    [1779028199661, 18974828816.446976]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/market_chart/range": {
      "get": {
        "summary": "Coin Historical Chart Data within Time Range by ID",
        "description": "To get the historical chart data of a coin within certain time range in UNIX along with price, market cap and 24hrs volume based on particular coin ID",
        "operationId": "coins-id-market-chart-range",
        "x-mint": {
          "href": "/reference/coins-id-market-chart-range"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Coin ID. \n*refers to [`/coins/list`](/reference/coins-list).",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "Target currency of market data. \n*refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "schema": {
              "type": "string",
              "default": "usd"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Starting date in UNIX timestamp.",
            "schema": {
              "type": "integer",
              "default": "1767024000"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Ending date in UNIX timestamp.",
            "schema": {
              "type": "integer",
              "default": "1777564800"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "required": false,
            "description": "Decimal place for currency price value.",
            "schema": {
              "type": "string",
              "enum": ["full", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin historical chart data within time range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarketChart"
                },
                "example": {
                  "prices": [
                    [1779027899041, 77953.82550382407],
                    [1779028199661, 78052.87543398788]
                  ],
                  "market_caps": [
                    [1779027899041, 1560631481361.8042],
                    [1779028199661, 1562027330524.267]
                  ],
                  "total_volumes": [
                    [1779027899041, 18688431751.857048],
                    [1779028199661, 18974828816.446976]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/ohlc": {
      "get": {
        "summary": "Coin OHLC Chart by ID",
        "description": "To get the OHLC chart (Open, High, Low, Close) of a coin based on particular coin ID",
        "operationId": "coins-id-ohlc",
        "x-mint": {
          "href": "/reference/coins-id-ohlc"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Coin ID. \n*refers to [`/coins/list`](/reference/coins-list).",
            "schema": {
              "type": "string",
              "default": "bitcoin"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "Target currency of price data. \n*refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "schema": {
              "type": "string",
              "default": "usd"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "description": "Data up to number of days ago.",
            "schema": {
              "type": "string",
              "default": "1",
              "enum": ["1", "7", "14", "30", "90", "180", "365"]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "required": false,
            "description": "Decimal place for currency price value.",
            "schema": {
              "type": "string",
              "enum": ["full", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin OHLC chart data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsOHLC"
                },
                "example": [
                  [1779199200000, 76769.0, 76889.0, 76744.0, 76818.0],
                  [1779201000000, 76712.0, 76712.0, 76321.0, 76422.0]
                ]
              }
            }
          }
        }
      }
    },
    "/coins/{id}/contract/{contract_address}": {
      "get": {
        "summary": "Coin Data by Token Address",
        "description": "To query all the metadata (image, websites, socials, description, contract address, etc.) and market data (price, ATH, exchange tickers, etc.) of a coin based on an asset platform and a particular token contract address",
        "operationId": "coins-contract-address",
        "x-mint": {
          "href": "/reference/coins-contract-address"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Asset platform ID. \n*refers to [`/asset_platforms`](/reference/asset-platforms-list).",
            "schema": {
              "type": "string",
              "default": "ethereum"
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "description": "The contract address of token.",
            "schema": {
              "type": "string",
              "default": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin data by token contract address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsContractAddress"
                },
                "example": {
                  "id": "weth",
                  "symbol": "weth",
                  "name": "WETH",
                  "web_slug": "weth",
                  "asset_platform_id": "ethereum",
                  "platforms": {
                    "ethereum": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                    "terra-2": "ibc/BC8A77AFBD872FDC32A348D3FB10CC09277C266CFE52081DE341C7EC6752E674",
                    "tron": "THb4CqiFdwNHsWsQCs4JhzwjMWys4aqCbF"
                  },
                  "detail_platforms": {
                    "ethereum": {
                      "decimal_place": 18,
                      "contract_address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                      "geckoterminal_url": "https://www.geckoterminal.com/eth/tokens/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"
                    },
                    "terra-2": {
                      "decimal_place": 18,
                      "contract_address": "ibc/BC8A77AFBD872FDC32A348D3FB10CC09277C266CFE52081DE341C7EC6752E674"
                    },
                    "tron": {
                      "decimal_place": 18,
                      "contract_address": "THb4CqiFdwNHsWsQCs4JhzwjMWys4aqCbF",
                      "geckoterminal_url": "https://www.geckoterminal.com/tron/tokens/THb4CqiFdwNHsWsQCs4JhzwjMWys4aqCbF"
                    }
                  },
                  "block_time_in_minutes": 0,
                  "hashing_algorithm": null,
                  "categories": [
                    "Crypto-Backed Tokens",
                    "Wrapped-Tokens",
                    "Terra Ecosystem",
                    "Ethereum Ecosystem",
                    "FTX Holdings",
                    "Tron Ecosystem",
                    "Index Coop Defi Index"
                  ],
                  "preview_listing": false,
                  "public_notice": null,
                  "additional_notices": [],
                  "has_supply_breakdown": false,
                  "localization": {
                    "en": "WETH",
                    "de": "",
                    "es": "",
                    "fr": "",
                    "it": "",
                    "pl": "",
                    "ro": "",
                    "hu": "",
                    "nl": "",
                    "pt": ""
                  },
                  "description": {
                    "en": "What is WETH (Wrapped ETH)?\nWETH is the tokenized/packaged form of ETH..."
                  },
                  "links": {
                    "homepage": ["https://ethereum.org/en/wrapped-eth"],
                    "whitepaper": "",
                    "blockchain_site": [
                      "https://etherscan.io/token/0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                      "https://intel.arkm.com/explorer/token/weth"
                    ],
                    "official_forum_url": [],
                    "chat_url": [],
                    "announcement_url": [],
                    "snapshot_url": null,
                    "twitter_screen_name": "",
                    "facebook_username": "",
                    "bitcointalk_thread_identifier": null,
                    "telegram_channel_identifier": "",
                    "subreddit_url": null,
                    "repos_url": {
                      "github": [],
                      "bitbucket": []
                    }
                  },
                  "image": {
                    "thumb": "https://coin-images.coingecko.com/coins/images/2518/thumb/weth.png?1696503332",
                    "small": "https://coin-images.coingecko.com/coins/images/2518/small/weth.png?1696503332",
                    "large": "https://coin-images.coingecko.com/coins/images/2518/large/weth.png?1696503332"
                  },
                  "country_origin": "",
                  "genesis_date": "2016-06-17",
                  "contract_address": "0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2",
                  "sentiment_votes_up_percentage": null,
                  "sentiment_votes_down_percentage": null,
                  "watchlist_portfolio_users": 34782,
                  "market_cap_rank": null,
                  "market_cap_rank_with_rehypothecated": 30,
                  "market_data": {
                    "current_price": {
                      "btc": 0.02728343,
                      "eth": 0.99972363,
                      "usd": 2115.04
                    },
                    "total_value_locked": null,
                    "mcap_to_tvl_ratio": null,
                    "fdv_to_tvl_ratio": null,
                    "roi": null,
                    "ath": {
                      "btc": 0.14280504,
                      "eth": 3.614831,
                      "usd": 4950.08
                    },
                    "ath_change_percentage": {
                      "btc": -80.89678,
                      "eth": -72.33124,
                      "usd": -57.2622
                    },
                    "ath_date": {
                      "btc": "2018-09-02T00:00:00.000Z",
                      "eth": "2018-09-13T00:00:00.000Z",
                      "usd": "2025-08-24T19:28:11.411Z"
                    },
                    "atl": {
                      "btc": 0.00890197,
                      "eth": 0.22395179,
                      "usd": 82.1
                    },
                    "atl_change_percentage": {
                      "btc": 206.45314,
                      "eth": 346.6045,
                      "usd": 2476.69436
                    },
                    "atl_date": {
                      "btc": "2025-09-02T07:56:48.935Z",
                      "eth": "2025-09-02T07:56:48.935Z",
                      "usd": "2018-12-15T00:00:00.000Z"
                    },
                    "market_cap": {
                      "btc": 61868,
                      "eth": 2267403,
                      "usd": 4793905266
                    },
                    "market_cap_rank": null,
                    "outstanding_token_value_usd": null,
                    "market_cap_rank_with_rehypothecated": 30,
                    "fully_diluted_valuation": {
                      "btc": 61868,
                      "eth": 2267403,
                      "usd": 4793905266
                    },
                    "market_cap_fdv_ratio": 1.0,
                    "total_volume": {
                      "btc": 107.294,
                      "eth": 3931,
                      "usd": 8317546
                    },
                    "high_24h": {
                      "btc": 0.02756131,
                      "eth": 1.00272,
                      "usd": 2125.08
                    },
                    "low_24h": {
                      "btc": 0.02717062,
                      "eth": 0.99799697,
                      "usd": 2068.79
                    },
                    "price_change_24h": -3.316519511214,
                    "price_change_percentage_24h": -0.15656,
                    "price_change_percentage_7d": -0.0669,
                    "price_change_percentage_14d": -9.45938,
                    "price_change_percentage_30d": -8.82256,
                    "price_change_percentage_60d": 1.63545,
                    "price_change_percentage_200d": -37.57849,
                    "price_change_percentage_1y": -14.56267,
                    "market_cap_change_24h": -12121742.79577,
                    "market_cap_change_percentage_24h": -0.25222,
                    "price_change_24h_in_currency": {
                      "btc": -0.000274386252168236,
                      "eth": -0.000212661454704888,
                      "usd": -3.3165195112137553
                    },
                    "price_change_percentage_1h_in_currency": {
                      "btc": -0.19183,
                      "eth": 0.00019,
                      "usd": -0.00865
                    },
                    "price_change_percentage_24h_in_currency": {
                      "btc": -0.99568,
                      "eth": -0.02127,
                      "usd": -0.15656
                    },
                    "price_change_percentage_7d_in_currency": {
                      "btc": -0.89914,
                      "eth": -0.05304,
                      "usd": -0.0669
                    },
                    "price_change_percentage_14d_in_currency": {
                      "btc": -5.49184,
                      "eth": -0.04201,
                      "usd": -9.45938
                    },
                    "price_change_percentage_30d_in_currency": {
                      "btc": -8.68383,
                      "eth": -0.02751,
                      "usd": -8.82256
                    },
                    "price_change_percentage_60d_in_currency": {
                      "btc": -8.8249,
                      "eth": 0.0505,
                      "usd": 1.63545
                    },
                    "price_change_percentage_200d_in_currency": {
                      "btc": -17.15793,
                      "eth": -0.10813,
                      "usd": -37.57849
                    },
                    "price_change_percentage_1y_in_currency": {
                      "btc": 18.09057,
                      "eth": 0.19761,
                      "usd": -14.56267
                    },
                    "market_cap_change_24h_in_currency": {
                      "btc": -635.7460114267669,
                      "eth": -986.7877555103041,
                      "usd": -12121742.795770645
                    },
                    "market_cap_change_percentage_24h_in_currency": {
                      "btc": -1.01713,
                      "eth": -0.0435,
                      "usd": -0.25222
                    },
                    "total_supply": 2267926.915444636,
                    "max_supply": null,
                    "max_supply_infinite": true,
                    "circulating_supply": 2267926.915444636,
                    "outstanding_supply": null,
                    "last_updated": "2026-05-25T10:09:02.821Z"
                  },
                  "community_data": {
                    "facebook_likes": null,
                    "reddit_average_posts_48h": 0.0,
                    "reddit_average_comments_48h": 0.0,
                    "reddit_subscribers": 0,
                    "reddit_accounts_active_48h": 0,
                    "telegram_channel_user_count": null
                  },
                  "developer_data": {
                    "forks": 0,
                    "stars": 0,
                    "subscribers": 0,
                    "total_issues": 0,
                    "closed_issues": 0,
                    "pull_requests_merged": 0,
                    "pull_request_contributors": 0,
                    "code_additions_deletions_4_weeks": {
                      "additions": null,
                      "deletions": null
                    },
                    "commit_count_4_weeks": 0,
                    "last_4_weeks_commit_activity_series": []
                  },
                  "status_updates": [],
                  "last_updated": "2026-05-25T10:09:02.821Z",
                  "tickers": [
                    {
                      "base": "WETH",
                      "target": "USDC",
                      "market": {
                        "name": "Native",
                        "identifier": "native",
                        "has_trading_incentive": false
                      },
                      "last": 2114.7318378964214,
                      "volume": 2999.739679821518,
                      "converted_last": {
                        "btc": 0.02728106,
                        "eth": 1.000065,
                        "usd": 2114.1
                      },
                      "converted_volume": {
                        "btc": 81.256,
                        "eth": 2979,
                        "usd": 6296774
                      },
                      "trust_score": null,
                      "bid_ask_spread_percentage": 0.04287,
                      "timestamp": "2026-05-25T10:04:42+00:00",
                      "last_traded_at": "2026-05-25T10:04:42+00:00",
                      "last_fetch_at": "2026-05-25T10:04:42+00:00",
                      "is_anomaly": false,
                      "is_stale": false,
                      "trade_url": "https://native.org/app/swap/",
                      "token_info_url": null,
                      "coin_id": "weth",
                      "target_coin_id": "usd-coin",
                      "coin_mcap_usd": 4793905265.563903
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/contract/{contract_address}/market_chart": {
      "get": {
        "summary": "Coin Historical Chart Data by Token Address",
        "description": "To get the historical chart data including time in UNIX, price, market cap and 24hrs volume based on asset platform and particular token contract address",
        "operationId": "contract-address-market-chart",
        "x-mint": {
          "href": "/reference/contract-address-market-chart"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Asset platform ID. \n*refers to [`/asset_platforms`](/reference/asset-platforms-list).",
            "schema": {
              "type": "string",
              "default": "ethereum"
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "description": "The contract address of token.",
            "schema": {
              "type": "string",
              "default": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "Target currency of market data. \n*refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "schema": {
              "type": "string",
              "default": "usd"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": true,
            "description": "Data up to number of days ago. \nYou may use any integer or `max` for number of days.",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Data interval, leave empty for auto granularity.",
            "schema": {
              "type": "string",
              "enum": ["daily", "hourly"]
            }
          },
          {
            "name": "precision",
            "in": "query",
            "required": false,
            "description": "Decimal place for currency price value.",
            "schema": {
              "type": "string",
              "enum": ["full", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin historical chart data by token address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarketChart"
                },
                "example": {
                  "prices": [
                    [1779619498604, 0.9997624087636037],
                    [1779619877081, 0.9997817655336941]
                  ],
                  "market_caps": [
                    [1779619498604, 76419636272.78033],
                    [1779619877081, 76424065983.84229]
                  ],
                  "total_volumes": [
                    [1779619498604, 9374311493.936354],
                    [1779619877081, 9390008044.485624]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/coins/{id}/contract/{contract_address}/market_chart/range": {
      "get": {
        "summary": "Coin Historical Chart Data within Time Range by Token Address",
        "description": "To get the historical chart data within certain time range in UNIX along with price, market cap and 24hrs volume based on asset platform and particular token contract address",
        "operationId": "contract-address-market-chart-range",
        "x-mint": {
          "href": "/reference/contract-address-market-chart-range"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Asset platform ID. \n*refers to [`/asset_platforms`](/reference/asset-platforms-list).",
            "schema": {
              "type": "string",
              "default": "ethereum"
            }
          },
          {
            "name": "contract_address",
            "in": "path",
            "required": true,
            "description": "The contract address of token.",
            "schema": {
              "type": "string",
              "default": "0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48"
            }
          },
          {
            "name": "vs_currency",
            "in": "query",
            "required": true,
            "description": "Target currency of market data. \n*refers to [`/simple/supported_vs_currencies`](/reference/simple-supported-currencies).",
            "schema": {
              "type": "string",
              "default": "usd"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Starting date in UNIX timestamp.",
            "schema": {
              "type": "integer",
              "default": "1767024000"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "Ending date in UNIX timestamp.",
            "schema": {
              "type": "integer",
              "default": "1777564800"
            }
          },
          {
            "name": "precision",
            "in": "query",
            "required": false,
            "description": "Decimal place for currency price value.",
            "schema": {
              "type": "string",
              "enum": ["full", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Coin historical chart data within time range by token address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoinsMarketChart"
                },
                "example": {
                  "prices": [
                    [1735689600000, 1.000540738607754],
                    [1735776000000, 0.9995995563541714]
                  ],
                  "market_caps": [
                    [1735689600000, 43945617394.42927],
                    [1735776000000, 43740787028.36501]
                  ],
                  "total_volumes": [
                    [1735689600000, 6544488766.849924],
                    [1735776000000, 5447401746.320422]
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/asset_platforms": {
      "get": {
        "summary": "Asset Platforms List",
        "description": "To query all the supported asset platforms (blockchain networks) on CoinGecko",
        "operationId": "asset-platforms-list",
        "x-mint": {
          "href": "/reference/asset-platforms-list"
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "Apply relevant filters to results.",
            "schema": {
              "type": "string",
              "enum": ["nft"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of asset platforms",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetPlatforms"
                },
                "example": [
                  {
                    "id": "solana",
                    "chain_identifier": null,
                    "name": "Solana",
                    "shortname": "Solana",
                    "native_coin_id": "solana",
                    "image": {
                      "thumb": "https://coin-images.coingecko.com/asset_platforms/images/5/thumb/solana.png?1706606708",
                      "small": "https://coin-images.coingecko.com/asset_platforms/images/5/small/solana.png?1706606708",
                      "large": "https://coin-images.coingecko.com/asset_platforms/images/5/large/solana.png?1706606708"
                    }
                  },
                  {
                    "id": "flow-evm",
                    "chain_identifier": 747,
                    "name": "Flow EVM",
                    "shortname": "",
                    "native_coin_id": "flow",
                    "image": {
                      "thumb": "https://coin-images.coingecko.com/asset_platforms/images/22173/thumb/flow.jpg?1727072603",
                      "small": "https://coin-images.coingecko.com/asset_platforms/images/22173/small/flow.jpg?1727072603",
                      "large": "https://coin-images.coingecko.com/asset_platforms/images/22173/large/flow.jpg?1727072603"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/token_lists/{asset_platform_id}/all.json": {
      "get": {
        "summary": "Token Lists by Asset Platform ID",
        "description": "To get full list of tokens of a blockchain network (asset platform) that is supported by [Ethereum token list standard](https://tokenlists.org/)",
        "operationId": "token-lists",
        "x-mint": {
          "href": "/reference/token-lists"
        },
        "parameters": [
          {
            "name": "asset_platform_id",
            "in": "path",
            "required": true,
            "description": "Asset platform ID. \n*refers to [`/asset_platforms`](/reference/asset-platforms-list).",
            "schema": {
              "type": "string",
              "default": "ethereum"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token list by asset platform",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenLists"
                },
                "example": {
                  "name": "CoinGecko",
                  "logoURI": "https://static.coingecko.com/gecko-new.svg",
                  "keywords": ["defi"],
                  "timestamp": "2026-05-26T04:03:03.404+00:00",
                  "tokens": [
                    {
                      "chainId": 1,
                      "address": "0x77c6e4a580c0dce4e5c7a17d0bc077188a83a059",
                      "name": "Swerve.fi USD",
                      "symbol": "SWUSD",
                      "decimals": 18,
                      "logoURI": "https://assets.coingecko.com/coins/images/12918/thumb/swerve.png?1696512706"
                    },
                    {
                      "chainId": 1,
                      "address": "0xf8e57ac2730d3088d98b79209739b0d5ba085a03",
                      "name": "Optopia AI",
                      "symbol": "OPAI",
                      "decimals": 18,
                      "logoURI": "https://assets.coingecko.com/coins/images/39332/thumb/OPAI.jpg?1721777150"
                    }
                  ],
                  "version": {
                    "major": 1491,
                    "minor": 3,
                    "patch": 0
                  }
                }
              }
            }
          }
        }
      }
    },
    "/coins/categories/list": {
      "get": {
        "summary": "Coins Categories List",
        "description": "To query all the supported coins categories on CoinGecko",
        "operationId": "coins-categories-list",
        "x-mint": {
          "href": "/reference/coins-categories-list"
        },
        "responses": {
          "200": {
            "description": "List of coin categories",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesList"
                },
                "example": [
                  {
                    "category_id": "coinbase-ventures-portfolio",
                    "name": "Coinbase Ventures Portfolio"
                  },
                  {
                    "category_id": "gmci-index",
                    "name": "GMCI Index"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/coins/categories": {
      "get": {
        "summary": "Coins Categories List with Market Data",
        "description": "To query all the coins categories with market data (market cap, volume, etc.) on CoinGecko",
        "operationId": "coins-categories",
        "x-mint": {
          "href": "/reference/coins-categories"
        },
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort results by field. \nDefault: `market_cap_desc`",
            "schema": {
              "type": "string",
              "enum": ["market_cap_desc", "market_cap_asc", "name_desc", "name_asc", "market_cap_change_24h_desc", "market_cap_change_24h_asc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of coin categories with market data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Categories"
                },
                "example": [
                  {
                    "id": "smart-contract-platform",
                    "name": "Smart Contract Platform",
                    "market_cap": 2176528015490.1301,
                    "market_cap_change_24h": -0.4907335508040635,
                    "content": "Smart contract platforms are usually blockchains that host smart contracts or decentralized applications.",
                    "top_3_coins_id": ["bitcoin", "ethereum", "binancecoin"],
                    "top_3_coins": [
                      "https://coin-images.coingecko.com/coins/images/1/small/bitcoin.png",
                      "https://coin-images.coingecko.com/coins/images/279/small/ethereum.png",
                      "https://coin-images.coingecko.com/coins/images/825/small/bnb-icon2_2x.png"
                    ],
                    "volume_24h": 45616943988.58024,
                    "updated_at": "2026-05-26T10:02:24.777Z"
                  },
                  {
                    "id": "layer-1",
                    "name": "Layer 1 (L1)",
                    "market_cap": 2152576804747.1516,
                    "market_cap_change_24h": -0.538526079299288,
                    "content": "Layer 1 serves as the primary and autonomous chain on which transactions are directly executed and confirmed.",
                    "top_3_coins_id": ["bitcoin", "ethereum", "binancecoin"],
                    "top_3_coins": [
                      "https://coin-images.coingecko.com/coins/images/1/small/bitcoin.png",
                      "https://coin-images.coingecko.com/coins/images/279/small/ethereum.png",
                      "https://coin-images.coingecko.com/coins/images/825/small/bnb-icon2_2x.png"
                    ],
                    "volume_24h": 44289945362.19749,
                    "updated_at": "2026-05-26T10:01:55.213Z"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/exchanges": {
      "get": {
        "summary": "Exchanges List with Data",
        "description": "To query all the supported exchanges with exchanges' data (ID, name, country, etc.) that have active trading volumes on CoinGecko",
        "operationId": "exchanges",
        "x-mint": {
          "href": "/reference/exchanges"
        },
        "parameters": [
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Total results per page. \nDefault: 100. \nValid values: 1...250",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page through results. \nDefault: 1",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of exchanges with data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exchanges"
                },
                "example": [
                  {
                    "id": "gdax",
                    "name": "Coinbase Exchange",
                    "year_established": 2012,
                    "country": "United States",
                    "description": "A leading U.S.-based exchange known for its regulatory compliance, user-friendly interface, and support for fiat-to-crypto transactions.",
                    "url": "https://www.coinbase.com/",
                    "image": "https://coin-images.coingecko.com/markets/images/23/small/Coinbase_Coin_Primary.png?1706864258",
                    "has_trading_incentive": false,
                    "trust_score": 10,
                    "trust_score_rank": 1,
                    "trade_volume_24h_btc": 13692.36253111657
                  },
                  {
                    "id": "binance",
                    "name": "Binance",
                    "year_established": 2017,
                    "country": "Cayman Islands",
                    "description": "One of the world's largest cryptocurrency exchanges by trading volume.",
                    "url": "https://www.binance.com/",
                    "image": "https://coin-images.coingecko.com/markets/images/52/small/binance.jpg?1706864274",
                    "has_trading_incentive": false,
                    "trust_score": 10,
                    "trust_score_rank": 2,
                    "trade_volume_24h_btc": 95140.00808634966
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/exchanges/list": {
      "get": {
        "summary": "Exchanges List",
        "description": "To query all the supported exchanges with ID and name",
        "operationId": "exchanges-list",
        "x-mint": {
          "href": "/reference/exchanges-list"
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by status of exchanges. \nDefault: `active`",
            "schema": {
              "type": "string",
              "enum": ["active", "inactive"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangesList"
                },
                "example": [
                  {
                    "id": "binance",
                    "name": "Binance"
                  },
                  {
                    "id": "bitget",
                    "name": "Bitget"
                  },
                  {
                    "id": "okex",
                    "name": "OKX"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/exchanges/{id}": {
      "get": {
        "summary": "Exchange Data by ID",
        "description": "To query exchange's data (name, year established, country, etc.), exchange volume in BTC and top 100 tickers based on exchange's ID",
        "operationId": "exchanges-id",
        "x-mint": {
          "href": "/reference/exchanges-id"
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Exchange ID. \n*refers to [`/exchanges/list`](/reference/exchanges-list).",
            "schema": {
              "type": "string",
              "default": "binance"
            }
          },
          {
            "name": "dex_pair_format",
            "in": "query",
            "required": false,
            "description": "Set to `symbol` to display DEX pair base and target as symbols. \nDefault: `contract_address`",
[...]
