{
  "openapi": "3.0.3",
  "info": { "title": "DEX Screener API", "version": "1.0.0" },
  "servers": [{ "url": "https://api.dexscreener.com" }],
  "paths": {
    "/token-profiles/latest/v1": {
      "get": {
        "tags": ["Token Profiles"],
        "summary": "Get the latest token profiles (rate-limit 60 requests per minute)",
        "responses": {
          "200": { "description": "Ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenProfile" } } } }
        }
      }
    },
    "/token-profiles/recent-updates/v1": {
      "get": {
        "tags": ["Token Profiles"],
        "summary": "Get recently updated token profiles (rate-limit 60 requests per minute)",
        "responses": {
          "200": { "description": "Ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TokenProfile" } } } }
        }
      }
    },
    "/community-takeovers/latest/v1": {
      "get": {
        "tags": ["Community Takeovers"],
        "summary": "Get the latest token community takeovers (rate-limit 60 requests per minute)",
        "responses": {
          "200": {
            "description": "Ok",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CommunityTakeoverResponse" } } }
          }
        }
      }
    },
    "/ads/latest/v1": {
      "get": {
        "tags": ["Ads"],
        "summary": "Get the latest ads (rate-limit 60 requests per minute)",
        "responses": {
          "200": { "description": "Ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AdsResponse" } } } }
        }
      }
    },
    "/metas/trending/v1": {
      "get": {
        "tags": ["Metas"],
        "summary": "Get trending metas (rate-limit 60 requests per minute)",
        "responses": {
          "200": { "description": "Ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MetasTrendingResponse" } } } }
        }
      }
    },
    "/metas/meta/v1/{slug}": {
      "get": {
        "tags": ["Metas"],
        "summary": "Get meta information for a given slug (rate-limit 60 requests per minute)",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Ok", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MetaWithPairsResponse" } } } }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TokenProfile": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "chainId": { "type": "string" },
          "tokenAddress": { "type": "string" },
          "icon": { "type": "string", "format": "uri" },
          "header": { "type": "string", "format": "uri", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": { "type": "string", "nullable": true },
                "label": { "type": "string", "nullable": true },
                "url": { "type": "string", "format": "uri" }
              }
            },
            "nullable": true
          }
        }
      },
      "CommunityTakeoverResponse": { "type": "array", "items": { "$ref": "#/components/schemas/CommunityTakeover" } },
      "CommunityTakeover": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "chainId": { "type": "string" },
          "tokenAddress": { "type": "string" },
          "icon": { "type": "string", "format": "uri" },
          "header": { "type": "string", "format": "uri", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": { "type": "string", "nullable": true },
                "label": { "type": "string", "nullable": true },
                "url": { "type": "string", "format": "uri" }
              }
            },
            "nullable": true
          },
          "claimDate": { "type": "string", "format": "date-time" }
        }
      },
      "AdsResponse": { "type": "array", "items": { "$ref": "#/components/schemas/Ad" } },
      "Ad": {
        "type": "object",
        "properties": {
          "url": { "type": "string", "format": "uri" },
          "chainId": { "type": "string" },
          "tokenAddress": { "type": "string" },
          "date": { "type": "string", "format": "date-time" },
          "type": { "type": "string" },
          "durationHours": { "type": "number", "nullable": true },
          "impressions": { "type": "number", "nullable": true }
        }
      },
      "MetasTrendingResponse": { "type": "array", "items": { "$ref": "#/components/schemas/Meta" } },
      "MetaWithPairsResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/Meta" },
          { "type": "object", "properties": { "pairs": { "type": "array", "items": { "$ref": "#/components/schemas/Pair" } } } }
        ]
      },
      "Meta": {
        "type": "object",
        "properties": {
          "description": { "type": "string" },
          "icon": { "type": "object", "properties": { "type": { "type": "string" }, "value": { "type": "string" } } },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "marketCap": { "type": "number", "format": "double" },
          "liquidity": { "type": "number", "format": "double" },
          "volume": { "type": "number", "format": "double" },
          "tokenCount": { "type": "integer" },
          "marketCapChange": { "$ref": "#/components/schemas/TimeframeStats" },
          "marketCapDelta": { "$ref": "#/components/schemas/TimeframeStats" }
        }
      },
      "TimeframeStats": {
        "type": "object",
        "required": ["m5", "h1", "h6", "h24"],
        "properties": {
          "m5": { "type": "number", "format": "double" },
          "h1": { "type": "number", "format": "double" },
          "h6": { "type": "number", "format": "double" },
          "h24": { "type": "number", "format": "double" }
        }
      },
      "Pair": {
        "type": "object",
        "properties": {
          "chainId": { "type": "string" },
          "dexId": { "type": "string" },
          "url": { "type": "string", "format": "uri" },
          "pairAddress": { "type": "string" },
          "labels": { "type": "array", "items": { "type": "string" }, "nullable": true },
          "baseToken": {
            "type": "object",
            "properties": { "address": { "type": "string" }, "name": { "type": "string" }, "symbol": { "type": "string" } }
          },
          "quoteToken": {
            "type": "object",
            "properties": {
              "address": { "type": "string", "nullable": true },
              "name": { "type": "string", "nullable": true },
              "symbol": { "type": "string", "nullable": true }
            }
          },
          "priceNative": { "type": "string" },
          "priceUsd": { "type": "string", "nullable": true },
          "txns": {
            "type": "object",
            "additionalProperties": { "type": "object", "properties": { "buys": { "type": "integer" }, "sells": { "type": "integer" } } }
          },
          "volume": { "type": "object", "additionalProperties": { "type": "number" } },
          "priceChange": { "type": "object", "additionalProperties": { "type": "number" }, "nullable": true },
          "liquidity": {
            "type": "object",
            "properties": { "usd": { "type": "number", "nullable": true }, "base": { "type": "number" }, "quote": { "type": "number" } },
            "nullable": true
          },
          "fdv": { "type": "number", "nullable": true },
          "marketCap": { "type": "number", "nullable": true },
          "pairCreatedAt": { "type": "integer", "nullable": true },
          "info": {
            "type": "object",
            "properties": {
              "imageUrl": { "type": "string", "format": "uri", "nullable": true },
              "websites": {
                "type": "array",
                "items": { "type": "object", "properties": { "url": { "type": "string", "format": "uri" } } },
                "nullable": true
              },
              "socials": {
                "type": "array",
                "items": { "type": "object", "properties": { "platform": { "type": "string" }, "handle": { "type": "string" } } },
                "nullable": true
              }
            }
          },
          "boosts": { "type": "object", "properties": { "active": { "type": "integer" } } }
        }
      }
    }
  }
}
